@charset "utf-8";

@import "../../sass/driver";
@import "../../sass/pell";

#omotenashi {
  box-sizing: border-box !important;
  @import "../../sass/variables";
  @import "~bulma/bulma";
  @import "../../sass/common";
  div {
    &.is-loading {
      position: relative;
      pointer-events: none;
      opacity: 0.5;
      width: 4em;
      height: 4em;
      &:after {
        @include loader;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 4em;
        height: 4em;
        border-width: 0.25em;
      }
      &.is-large {
        width: 7em;
        height: 7em;
        &:after {
          @include loader;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          width: 7em;
          height: 7em;
          border-width: 0.30em;
        }
      }
      &.is-medium {
        width: 5em;
        height: 5em;
        &:after {
          @include loader;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          width: 5em;
          height: 5em;
          border-width: 0.25em;
        }
      }
      &.is-small {
        width: 3em;
        height: 3em;
        &:after {
          @include loader;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          width: 3em;
          height: 3em;
          border-width: 0.2em;
        }
      }
    }
  }
  .icon {
    font-size: 1em;
  }
}